{% extends "base.html" %}
{% block contents %}
<form action="" method="post">
<table>
{{ form.as_table }}
</table>
<p><input type="submit" value="Enviar chicha" />
</form>
{% if random_fortune %} 
<h2>Lincs</h2>
<ul>
<li><a href="{% url fortunes %}">Ver chicha</a></li>
<li><a href="http://planet.chicha.pe">Planeta Chicha</a></li>
</ul>
<h2>random chicha entry:</h2>
<pre class='fortune'>{{ random_fortune.as_html|wordwrap:100|safe }}</pre><a href="{{ random_fortune_url }}">(permalink)</a>
{% else %}
<p>Juas! Aún no hay chicha en la base de datos :/ Que succhada!!</p>
{% endif %}
{% endblock %}
